body{
background:url(./Img/Marvel/series_poster.jpg) no-repeat;
background-size:cover;
background-attachment:fixed;
background-position:center;
margin:0;
}

.intro_poster{
  z-index: 1;
  width:100%;
}

.intro_poster img{
 width:100%;
 border-radius:0px 0px 20px 20px;
}

.recent {
    width: 250px !important;
    height: 375px !important;
}

.recent_shows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(32, 32, 32, 0.5);
  box-shadow: 0 2px 8px rgb(0 0 0 / 70%);
  position: relative;
}

.recent_shows img {
  box-shadow: 0 2px 8px rgb(0 0 0 / 70%);
  margin: 10px;
  width: 100%;
  object-fit: cover;
  position: relative;
  margin:0;
}

.recent_shows a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 1.5em;
  text-align: center;
}

.recent_shows p {
  margin: 10px;
  margin-top: 0;
  font-size: 1em;
  position:relative;
  left:8px;
}

@media screen and (max-width: 600px) {
  .recent_shows {
    flex-direction: rows;
    align-items: center;
  }

  .recent_shows div {
    flex-basis: 90%;
    max-width: 40%;
    font-size: 0.6em;
    text-align: right;
  }
  .navbar li a{
  font-size:1em
  }
}
.shows_summary_grid{
  display:grid;
  grid-template-rows:auto;
  grid-template-columns:3fr 2fr;
  align-items: center;
  justify-items: center;
  background-color:white;
}
.shows_summary_grid .content{
  max-width:800px;
  align-self:center;
  padding:40px 0px 0px 0px;
  padding:20px;
}

.shows_summary_grid p{
  font-family: 'Archivo Narrow', sans-serif;
  font-size:1.2em;
}

.shows_summary_grid img{
   box-shadow: 0 2px 8px rgb(0 0 0 / 70%);
   max-width:400px;
}
.content h2{
  padding:20px 0 20px 0;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Roboto Slab', serif;
  font-size:2em;
}

.shows_name{
   display:grid;
   grid-template-rows:1fr 1fr;
   grid-template-columns:1fr 1fr 1fr;
   font-family: 'Archivo Narrow', sans-serif;
  font-size:1.2em;
}
.shows_name div{
   padding:10px;
}
@media screen and (max-width: 600px){
  .shows_summary_grid{
    display:grid;
    grid-template-rows:1fr 0.5fr;
    grid-template-columns:auto;
    }
  .shows_summary_grid .content{
    max-width:600px;
    align-self:center
    padding:0;
    }
}
.Netflix h3{
  font-family: 'Zen Dots', cursive;
  text-align: center;
  font-size:2em;
  color: white;
  border-radius:20px;
  padding: 30px;
  max-width:100%;
  position: relative;
  margin: 10px auto;
  text-shadow: 3px 1px black;
}
.shows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(32, 32, 32, 0.8);
    box-shadow: 0 2px 8px rgb(0 0 0 / 70%);
    border-radius: 0px 0px 20px 20px;
    position: relative;
}
.shows img{
  transition: width 0.5s;
}
.shows img:hover {
  width: 105%;
}

.shows img {
  box-shadow: 0 2px 8px rgb(0 0 0 / 70%);
  margin: 10px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin:0;
}

.shows a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 1.2em;
}

.shows p {
  margin: 10px;
  margin-top: 0;
  font-size: 1em;
  color:white;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center
}
@media screen and (max-width: 600px) {
    .Netflix h3{
    font-size:1.3em;
    }
    .flip-box {
    width: 160px !important;
    height: 235px !important;
    perspective: 1000px;
    transition: ease all 2.3s;
}
}