body{
  background:url(./Img/Marvel/phase1_poster.jpg) no-repeat;
  background-size:cover;
  background-attachment:fixed;
  background-position:center;
  margin:0;
}
.grid{
  display:grid;
  grid-template-rows:auto;
  grid-template-columns:1fr 1fr 1fr;
  color:white;
  background-color:#202020;
  z-index:2;
}
.grid .halign{
  color:white;
  text-align:center;
  background-color:#202020;
  font-family: 'Cinzel Decorative', cursive;
  margin: 0;
  border-left-width: 0px;
  border-right-width: 0px;
}
.grid div{
  border:1px solid grey;
}

.nav{
  background-color: rgba(32, 32, 32);
  z-index:2;
  position:relative;
}
.navbar {
  display:grid;
  grid-template-rows:70px;
  grid-template-columns:0.5fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.5fr ;
  justify-items: center;
  align-items: center;
}
        .card1{
          width:120px;
          height:53px;
          perspective:1000px;
        }
        .flip-box1{
          height:100%;
          width:100%;
          position:relative;
          transition:ease all 1s;
          transform-style:preserve-3d;
        }
        .card1:hover .flip-box1{
           transform:rotateY(-180deg);
        }
        .front1,.back1{
          width:100%;
          height:100%;
          position:absolute;
          backface-visibility:hidden;
        }
        .flip-box1 .front1{
          transition:ease all 1s;
        }
        .flip-box1 .back1{
          transform:rotateY(180deg);
        }
        .image{
          width:100%;
          height:100%;
        }
.hello {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  border-radius:10px;
  width: 60px;
  height: 55px;
  background:rgb(82 77 77 / 78%);
  transition: width 2s;
}

.hello img{
 width:50px;
 align-self:center;
}
.hello:hover {
  width: 300px;
}
.navbar .tool {
  z-index: 2;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
}
.navbar .tool:hover {
  transition:font-size 0.8s,background-color 0.5s,color 0.5s;
  font-size:1.5em;
  background-color: white;
  color:red;
}

.movies{
  display:flex;
  gap:10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box {
  position: relative;
  top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 30px;
  width: 700px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 70%);
  border-radius: 0px 0px 20px 20px;
}
.ironman3{
  background: url(./Img/Marvel/phase2/ironman3/6.jpg) no-repeat;
  background-size: cover;
}
.thor2{
  background: url(./Img/Marvel/phase2/Thor2/6.jpg) no-repeat;
  background-size: cover;
}
.cap2{
  background: url(./Img/Marvel/phase2/cap2/8.jpg) no-repeat;
  background-size: cover;
  border-radius:20px 20px 0px 0px;
}
.gotg{
  background: url(./Img/Marvel/phase2/gotg/5.jpg) no-repeat;
  background-size: cover;
  border-radius:20px 20px 0px 0px;
}
.avengers2{
  background: url(./Img/Marvel/phase2/avengers2/8.jpg) no-repeat;
  background-size: cover;
  border-radius:20px 20px 0px 0px;
}
.antman{
  background: url(./Img/Marvel/phase2/antman/1.jpg) no-repeat;
  background-size: cover;
  border-radius:20px 20px 0px 0px;
}
.cover img {
  width: 100%;
  max-width: 750px;
  border: 2px solid white;
}

@font-face {
  font-family: 'ironman';
  src: url(./Fonts/IronMan.ttf);
}

.lower {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.lower .content .title{
  font-size:3em;
}
.lower .content .title_date{
  font-size:2em;
}

.lower img {
  width: 100%;
  max-width: 300px;
  margin: 5px;
  border: 2px solid white;
}

.lower .images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.lower .content p {
  color: white;
  margin: 0;
  margin-top: 10px;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px black;
  white-space: nowrap;
}

.lower .details {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.lower .details .prerequisite_grid{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
}

.lower .details .movies_before {
  grid-column: span 3;
}

@media screen and (max-width: 600px) {
  .navbar li a{
  font-size:1em
  }
  .ironman3 ,.thor3 ,.cap2,.avengers{
    width: 80%;
    margin: 0 auto;
  }

  .cover img {
    max-width: 100%;
  }

  .cover p {
    font-size: 1.5em;
    bottom: 10px;
    left: 10px;
  }

  .lower {
    grid-template-columns: 170px 1fr;
  }
  .lower .content .title{
    font-size:1.6em;
  }
  .lower .content .title_date{
    font-size:1.5em;
  }
  .lower img {
    max-width: 100%;
    max-width: 120px;
    object-fit: cover;
  }

  .lower .content p {
    font-size: 0.7em;
    margin-left: 10px;
  }
  .lower .details .prerequisite_grid{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr ;
  }
}
