body{
    background:url(./Img/Marvel/comic.jpg) no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    margin:0;
}

.intro_poster{
  z-index: 1;
  width:100%;
}
.intro_poster img{
 width:100%;
 border-radius:0px 0px 20px 20px;
}

.intro_poster{
  z-index:1;
}
.upcoming{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 0px 0px 20px 20px;
  position: relative;
  top:10px;
  gap:10px;
}

.upcoming img {
    box-shadow: 0 2px 8px rgb(0 0 0 / 70%);
    width: 100%;
    object-fit: cover;
}

.upcoming p {
  margin: 10px;
  margin-top: 0;
  font-size: 1em;
}

.recent {
    width: 250px;
    height: 375px;
    perspective: 1000px;
    transition: ease all 2.3s;
}

footer{
    background:black;
    padding:5px;
    margin-top:100px;
}

footer p{
    color:white;
    text-align:center;
}
@media screen and (max-width: 600px) {
  .navbar {
    grid-template-rows:50px 50px 50px;
    grid-template-columns: repeat(5, 1fr);
  }
  .hello {
    width: 80px;
    height: auto;
    transition: width 0.5s;
    grid-column: 1 / span 5;
  }

  .sp2{
    grid-column: 1 / span 5;
    width:100px;
    height:45px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   }
  .hello img {
    width: 40px;
  }
  .hello:hover {
    width: 300px;
  }
  .navbar .tool:hover {
  transition:font-size 0.8s,background-color 0.5s,color 0.5s;
  font-size:1.3em;
  background-color: white;
  color:red;
}
}