body{
  background:url(./Img/Marvel/phase1_poster.jpg) no-repeat;
  background-size:cover;
  background-attachment:fixed;
  background-position:center;
  margin:0;
}

.phase_header h2 {
  font-family: 'Zen Dots', cursive;
  text-align: center;
  font-size:2em;
  color: white;
  border-radius:20px;
  max-width: 200px;
  position: relative;
  margin: 10px auto;
  text-shadow: 3px 1px black;
}

.movies{
  display:flex;
  gap:10px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
.box {
  position: relative;
  top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 30px;
  width: 700px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 70%);
  background-size: cover;
}
.ironman{
  background: url(./Img/Marvel/phase1/ironman/6.jpg) no-repeat;
}
.hulk{
  background: url(./Img/Marvel/phase1/Hulk/7.jpg) no-repeat;
}
.ironman2{
  background: url(./Img/Marvel/phase1/ironman2/8.jpg) no-repeat;
}
.thor{
  background: url(./Img/Marvel/phase1/Thor/2.jpg) no-repeat;
}
.cap{
  background: url(./Img/Marvel/phase1/Cap1/1.jpg) no-repeat;
}
.avengers{
  background: url(./Img/Marvel/phase1/avengers/5.jpg) no-repeat;
}
.ironman3{
  background: url(./Img/Marvel/phase2/ironman3/6.jpg) no-repeat;
}
.thor2{
  background: url(./Img/Marvel/phase2/Thor2/6.jpg) no-repeat;
}
.cap2{
  background: url(./Img/Marvel/phase2/cap2/8.jpg) no-repeat;
}
.gotg{
  background: url(./Img/Marvel/phase2/gotg/5.jpg) no-repeat;
}
.avengers2{
  background: url(./Img/Marvel/phase2/avengers2/8.jpg) no-repeat;
}
.antman{
  background: url(./Img/Marvel/phase2/antman/1.jpg) no-repeat;
}
.cap3{
  background: url(./Img/Marvel/phase3/cap3/6.jpg) no-repeat;
  background-size: cover;
}
.hulk{
  background: url(./Img/Marvel/phase1/Hulk/7.jpg) no-repeat;
}
.ironman2{
  background: url(./Img/Marvel/phase1/ironman2/8.jpg) no-repeat;
}
.thor{
  background: url(./Img/Marvel/phase1/Thor/2.jpg) no-repeat;
}
.cap{
  background: url(./Img/Marvel/phase1/Cap1/1.jpg) no-repeat;
}
.avengers{
  background: url(./Img/Marvel/phase1/avengers/5.jpg) no-repeat;
}
.doctorstrange{
  background: url(./Img/Marvel/phase3/doctorstrange/6.jpg) no-repeat;
}
.gotg2{
  background: url(./Img/Marvel/phase3/gotg2/6.jpg) no-repeat;
  background-size: cover;
}
.spiderman1{
  background: url(./Img/Marvel/phase3/spiderman1/6.jpg) no-repeat;
  background-size: cover;
}
.thor3{
  background: url(./Img/Marvel/phase3/thor3/6.jpg) no-repeat;
  background-size: cover;
}
.blackpanther1{
  background: url(./Img/Marvel/phase3/blackpanther1/6.jpg) no-repeat;
  background-size: cover;
}
.cover img {
  width: 100%;
  max-width: 750px;
  border: 2px solid white;
}

@font-face {
  font-family: 'ironman';
  src: url(./Fonts/IronMan.ttf);
}

.lower {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.lower .content .title{
  font-size:3em;
  font-family: 'Archivo Narrow', sans-serif;
}
.lower .content .title_date{
  font-size:2em;
  margin-top: 0px;
  font-family: 'Archivo Narrow', sans-serif;
}

.lower img {
  width: 100%;
  max-width: 300px;
  margin: 5px;
  border: 2px solid white;
}

.lower .images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.lower .content p {
  color: white;
  margin: 0;
  margin-top: 10px;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px black;
}

.lower .details {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.lower .details .prerequisite_grid{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}

.lower .details .movies_before {
  grid-column: span 3;
}

@media screen and (max-width: 600px) {
  .navbar li a{
  font-size:1em
  }
  .ironman ,.thor ,.ironman2,.hulk,.cap,.avengers{
    width: 80%;
    margin: 0 auto;
  }

  .cover img {
    max-width: 100%;
  }

  .cover p {
    font-size: 1.5em;
    bottom: 10px;
    left: 10px;
  }

  .lower {
    grid-template-columns: 1fr 1fr;
  }
  .lower .content .title{
    font-size:1.6em;
  }
  .lower .content .title_date{
    font-size:1.5em;
  }
  .lower img {
    max-width: 100%;
    max-width: 120px;
    object-fit: cover;
  }

  .lower .content p {
    font-size: 0.7em;
    margin-left: 10px;
  }
  .lower .details .prerequisite_grid{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr ;
  }
}
