.nav{
  background-color: rgba(32, 32, 32);
  z-index:2;
  position:relative;
}
.navbar {
  display:grid;
  grid-template-rows:70px;
  grid-template-columns:0.5fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.5fr ;
  justify-items: center;
  align-items: center;
}
/*===================Start Flip card CSS=================*/
.card1{
  width:120px;
  height:53px;
  perspective:1000px;
  padding: 10px;
}
.flip-box1{
  height:100%;
  width:100%;
  position:relative;
  transition:ease all 1s;
  transform-style:preserve-3d;
}
.card1:hover .flip-box1{
   transform:rotateY(-180deg);
}
.front1,.back1{
  width:100%;
  height:100%;
  position:absolute;
  backface-visibility:hidden;
}
.flip-box1 .front1{
  transition:ease all 1s;
}
.flip-box1 .back1{
  transform:rotateY(180deg);
}
.image{
  width:100%;
  height:100%;
}
.hello {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  border-radius:10px;
  width: 60px;
  height: 55px;
  background:rgb(82 77 77 / 78%);
  transition: width 2s;
}

.hello img{
 width:50px;
 align-self:center;
}
.hello:hover {
  width: 300px;
}
/*===================Flip card CSS End=================*/

.navbar .tool {
  z-index: 2;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  font-family: 'Archivo Narrow', sans-serif;
}
.navbar .tool:hover {
  transition:font-size 0.8s,background-color 0.5s,color 0.5s;
  font-size:1.5em;
  background-color: white;
  color:red;
}

/*========START For drop menu in mobile scale==========*/

.drop-menu .tool {
  z-index: 2;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
}
.drop-menu .tool:hover {
  transition:font-size 0.8s,background-color 0.5s,color 0.5s;
  font-size:1.5em;
  background-color: white;
  color:red;
}

.drop-menu ul li {
    display:flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 10px;
}
.drop-menu ul li a {
  color: #1d1d24;
  position: relative;
  padding: 5px 0;
}
.drop-menu ul li a:hover {
  color: #279EFF;
}

.drop-menu{
  grid-column:span 2;
}

.drop-menu .slide-menu{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding:0;
}

.mobile-menu-button {
  display: none;
  background:transparent;
  color:red;
  padding:5px 10px 5px 10px;
  cursor: pointer;
  font-size: 35px;
  border:0;
  font-family:"Marvel",sans-serif;
}

.mobile-menu-button .min-max {
  width:70px;
  height:30px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:5px;

}

.mobile-menu-button .min-max .line1,.line2,.line3{
  width:30px;
  height:2px;
  background:white;
}

@media screen and (max-width: 3000px){
   .drop-menu{
   display:none;
   }
}
@media screen and (max-width: 600px){
  .mobile-menu-button{
    display:block;
  }
  .menu{
    display:none;
  }
  .drop-menu{
    display:block;
  }
}

/*========For drop menu in mobile scale END==========*/

@media screen and (max-width: 600px) {
  .navbar {
    grid-template-rows:1fr !important;
    grid-template-columns: 1fr 1fr !important;
  }
  .hello {
    width: 80px;
    height: auto;
    transition: width 0.5s;
    grid-column: 1 / span 5;
  }

  .sp2{
    grid-column: 1 / span 5;
    width:100px;
    height:45px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   }
  .hello img {
    width: 40px;
  }
  .hello:hover {
    width: 300px;
  }
  .navbar .tool:hover {
  transition:font-size 0.8s,background-color 0.5s,color 0.5s;
  font-size:1.3em;
  background-color: white;
  color:red;
}
}